// ---- Minimal CSS reset -------------------------------

@mixin reset() {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: var(--mercatura-font);
        font-size: var(--mercatura-text-base);
        color: var(--mercatura-text);
        background-color: var(--mercatura-surface-alt);
        --webkit-font-smoothing: antialiased;
        --moz-osx-font-smoothing: grayscale;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--mercatura-font-heading);
        margin: 0;
        line-height: 1.2;
    }

    p { margin: 0; }

    a {
        color: inherit;
        text-decoration: none;
    }

    button {
        font-family: var(--mercatura-font);
        cursor: pointer;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block
    }

    ul, ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}